<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfsMgLqnOpw1b9i6IeqRegA6II-W9MIKM</string>
	<key>GCM_SENDER_ID</key>
	<string>942263598354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apoorvaApp</string>
	<key>PROJECT_ID</key>
	<string>apoorva-4ad68</string>
	<key>STORAGE_BUCKET</key>
	<string>apoorva-4ad68.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942263598354:ios:f893a97cdeef1f277247cb</string>
</dict>
</plist>